.root{
-fx-font-family: "Segoe UI";
-fx-background: #D3D3D3;
}
.top-bar{
-fx-padding: 15 25;
-fx-background-color: linear-gradient(to bottom right, #0f2027, #203a43,#2c5364);
-fx-border-color: #dddddd;
-fx-border-width: 10;
}
.top-title{
-fx-font-size: 18px;
-fx-font-weight: bold;
-fx-text-fill: #FF7F50;
}
.user-label{
-fx-text-fill: #FF7F50;
}
.sidebar{
-fx-padding: 20;
-fx-background-color:  linear-gradient(to bottom right, #0f2027, #203a43,#2c5364);
}
.sidebar-title{
-fx-text-fill: white;
-fx-font-size: 16px;
-fx-font-weight: bold;
}
.menu-button{
-fx-background-color: transparent;
-fx-text-fill: #cbd5e1;
-fx-font-size: 14px;
-fx-alignment: CENTER_LEFT;
-fx-pref-width: 180;
-fx-cursor: hand;
-fx-translation: all 0.3s;
}
.menu-button:hover{
-fx-background-color: #334155;
}
.menu-button-active{
-fx-background-color: white;
-fx-text-fill: #A9A9A9;
}
.menu-button-active:hover{
-fx-background-color: #FF7F50;
}
.logout-button{
-fx-background-color: #FF7F50;
-fx-text-fill: white;
-fx-font-weight: bold;
-fx-cursor: hand;
}
.logout-button:hover{
-fx-background-color: white;
-fx-text-fill: #FF7F50;
}
.content{
-fx-padding: 30;
}
.page-title{
-fx-font-size: 26px;
-fx-font-weight: bold;
-fx-text-fill: #008080;
}
.page-subtitle{
-fx-text-fill: #FA8072;
}
.card{
-fx-background-color: #FFFDD0;
-fx-padding: 20;
-fx-pref-width: 220;
-fx-background-radius: 12;
-fx-effect: dropshadow (gaussian, rgba(0,0,0,0.12),15,0.2,0,5);
-fx-font-size: 20px;
-fx-font-weight: bold;
-fx-text-fill: #800000;
}
.card:hover{
-fx-translate-y: -6;
-fx-effect: dropshadow (gaussian, rgba(0,0,0,0.2),25,0.3,0,8);
-fx-cursor: hand;
}
.card-value{
-fx-font-size: 22px;
-fx-font-weight: bold;
-fx-text-fill: #008080;
}