.root{
-fx-font-family: "Segoe UI";
-fx-background-color: #f8fafc;
}
.top-bar{
-fx-padding: 15;
-fx-background-color: linear-gradient(to right, #0f2027, #203a43);
}
.title{
-fx-font-size: 18px;
-fx-text-fill: white;
-fx-font-weight: bold;
}
.energy-card{
-fx-background-color: #ECFFDC;
-fx-padding: 15;
-fx-background-radius: 10;
-fx-border-radius: 10;
-fx-min-width: 220;
-fx-effect: dropshadow(gaussian,rgba(0,0,0,0.15),15,0,0,5);
}
.energy-card:hover{
-fx-scale-x: 1.03;
-fx-scale-y: 1.03;
}
.card-title{
-fx-font-size: 16px;
-fx-font-weight: bold;
}
.back-button{
-fx-background-color: white;
-fx-text-fill: #A9A9A9;
}
.back-button:hover{
-fx-background-color: #FF7F50;
}