.root{
    -fx-background-color: linear-gradient(to bottom right, #0f2027, #203a43,#2c5364);
}

.login-card {
    -fx-background-color: rgba(255,255,255,0.12);
    -fx-padding: 40;
    -fx-background-radius: 25;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 30, 0.3, 0, 10);
}

.title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #FF7F50;
}

.input{
    -fx-pref-height: 40;
    -fx-font-size: 19px;
    -fx-background-radius: 8;
}

.input:focused {
    -fx-border-color: #2a5298;
    -fx-border-radius: 8;
    -fx-background-insets: 0;
}

.login-button {
    -fx-pref-height: 40;
    -fx-pref-width: 200;
    -fx-background-color: white;
    -fx-text-fill: #A9A9A9;
    -fx-font-size: 19px;
    -fx-font-weight:bold;
    -fx-background-radius: 20;
    -fx-cursor: hand;
}

.login-button:hover {
    -fx-background-color: #FF7F50;
}
.input-box{
-fx-background-color: rgba(255,255,255,0.2)
-fx-background-radius: 12;
-fx-alignment:center-left;
-fx-spacing: 10;
}