.root{
-fx-font-family: "Segoe UI";
-fx-background-color: #f8fafc;
}
.top-bar{
-fx-padding: 15;
-fx-background-color: linear-gradient(to right, #0f2027, #203a43);
}
.title{
-fx-font-size: 18px;
-fx-text-fill: white;
-fx-font-weight: bold;
}
.table-view{
-fx-padding: 20;
}
.table-column{
-fx-alignment: CENTER;
}
.column{
-fx-background-color: #F0E68C;
}
.back-button{
-fx-background-color: white;
-fx-text-fill: #A9A9A9;
}
.back-button:hover{
-fx-background-color: #FF7F50;
}